1.Create an Excel with data of Student database and add all the values which is required for student management database, Read the excel file and add the datas into a DB (using script)

In [ ]:
import openpyxl

In [17]:
path = "studentdata.xlsx"
wb_obj = openpyxl.load_workbook(path)
sheet_obj = wb_obj.active
cell_obj = sheet_obj.cell(row = 2, column = 2)
print(cell_obj.value)

Shraddha

In [19]:
for i in range(1,6):
    cell_obj = sheet_obj.cell(row = 2, column = i)
    print(cell_obj.value)

A123
Shraddha
Kapoor
Biomedical
Python

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="Sqlpython123#",
)

mycursor = mydb.cursor()
print(mydb)

mycursor.execute("CREATE DATABASE students")
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for entry in mycursor:
  print(entry)

<mysql.connector.connection.MySQLConnection object at 0x000001E65156D4C0>
('doctor',)
('employee',)
('information_schema',)
('my_first_db',)
('mydatabase',)
('mysql',)
('performance_schema',)
('records',)
('student',)
('students',)
('sys',)
('usersdb',)

In [37]:
import pandas as pd

df = pd.read_excel(r"studentdata.xls")

In [28]:
import xlrd
import MySQLdb

In [36]:
xl_sheet = xlrd.open_workbook("studentdata.xls")
xl_sheet

In [38]:
sheet_name =xl_sheet.sheet_names()
sheet_name

['Sheet1']

In [ ]:
import mysql.connector
  db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root",
  database="my_first_db"
  )
db_cursor = db_connection.cursor()
#Here creating database table as student'
db_cursor.execute("CREATE TABLE student1 (Roll_No VARCHAR(255) ,First_Name VARCHAR(255),Last_Name VARCHAR(255),Branch VARCHAR(255),skills VARCHAR(255))")
#Get database table'
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
	print(table)

In [51]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="Sqlpython123#",
  database="students"
)

cur = mydb.cursor()
for s in range(0,1):
    sheet=xl_sheet.sheet_by_index(s)
    sql= "INSERT INTO student1(Roll_No,First_Name,Last_Name,Branch,skills) VALUES(%s,%s,%s,%s,%s)"
    for r in range(1,sheet.nrows):
        Roll_No =sheet.cell(r,0).value
        First_Name =sheet.cell(r,1).value
        Last_Name=sheet.cell(r,2).value
        Branch =sheet.cell(r,3).value
        skills =sheet.cell(r,4).value
        values =(Roll_No ,First_Name ,Last_Name, Branch ,skills)
        
        cur.execute(sql,values)
mydb.commit()

In [52]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student1")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('A123', 'Shraddha', 'Kapoor', 'Biomedical', 'Python')
('A143', 'Alia', 'Bhatt', 'Computer Science', 'AI')
('A156', 'Kiara', 'Advani', 'EXTC', 'ML')
('A178', 'Hrithik', 'Roshan', 'ETRX', 'Java')
('A189', 'Varun', 'Dhavan', 'IT', 'C++')
('A201', 'Nidhi', 'Shah', 'Chemical', 'C#')
('A223', 'Deepika', 'Padukone', 'Mechanical', 'C')
('A239', 'Neha', 'Kakkar', 'Electrical', 'SQL')
('A256', 'Siddharth', 'Malhothra', 'Civil', 'CN')
('A264', 'Vijay', 'Deverakonda', 'Instrumentation', 'HTML')

In [53]:
mydb.commit()
 # Close the database connection
mydb.close()