#

In [1]:
import json
json_records=[{'name':"Shraddha",'age':35,'Actress':True,'salary':95000.90,'Movie':'ABCD'},
     {'name':"Alia",'age':30,'Actress':False,'salary':56000,'Movie':"EFG"},
     {'name':"Rakul",'age':24,'Actress':True,'salary':89000.45,'Movie':'HIJK'},
     {'name':"Kiara",'age':29,'Actress':True,'salary':45000.00,'Movie':'KLMN'},
     {'name':"Ananya",'age':23,'Actress':False,'salary':23000,'Movie':'QPRS'}]
a=json.dumps(json_records)

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Sqlpython123#"
)
print(mydb)


dbse = mydb.cursor()

dbse.execute("CREATE DATABASE jsonrecords")
dbse = mydb.cursor()

dbse.execute("SHOW DATABASES")

for x in dbse:
  print(x)

<mysql.connector.connection.MySQLConnection object at 0x00000115A29C2550>
('doctor',)
('employee',)
('information_schema',)
('jsonrecords',)
('my_first_db',)
('mydatabase',)
('mysql',)
('new_schema',)
('performance_schema',)
('records',)
('student',)
('students',)
('sys',)
('usersdb',)
('webscrapedetails',)

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="Sqlpython123#",
  database="jsonrecords"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE actressess(name VARCHAR(255),age INT, Actress VARCHAR(255), salary DOUBLE, Movie VARCHAR(255))")

In [4]:
dbse = mydb.cursor()

dbse.execute("SHOW TABLES")

for value in dbse:
  print(value)

('actressess',)

In [9]:
dbse = mydb.cursor()

dbse.execute("SHOW COLUMNS FROM actressess")

for value in dbse:
  print(value)

('name', b'varchar(255)', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')
('Actress', b'varchar(255)', 'YES', '', None, '')
('salary', b'double', 'YES', '', None, '')
('Movie', b'varchar(255)', 'YES', '', None, '')