#1] Create an Employee Table with employee name,employee ID & Salary

In [4]:
import mysql.connector
db_connection = mysql.connector.connect(
  host= "localhost",
  user= "root",
  passwd= "Sqlpython123#"
  )
# creating database_cursor to perform SQL operation
db_cursor = db_connection.cursor()
# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE employee")
# get list of all databases
db_cursor.execute("SHOW DATABASES")
#print all databases
for db in db_cursor:
	print(db)

('doctor',)
('employee',)
('information_schema',)
('my_first_db',)
('mydatabase',)
('mysql',)
('performance_schema',)
('records',)
('student',)
('sys',)
('usersdb',)

In [5]:
import mysql.connector
db_connection = mysql.connector.connect(
  host= "localhost",
  user= "root",
  passwd= "Sqlpython123#",
  database="employee"
  )

#create table
db_cursor = db_connection.cursor()

db_cursor.execute("CREATE TABLE employee (emp_id VARCHAR(255) ,name VARCHAR(255), salary INT(7))")

#Get database table
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
	print(table)

('employee',)

In [6]:
import mysql.connector
db_connection = mysql.connector.connect(
  host= "localhost",
  user= "root",
  passwd= "Sqlpython123#",
  database="employee"
  )
db_cursor = db_connection.cursor()

employee_sql_query = "INSERT INTO employee(emp_id, name,salary) VALUES (%s, %s, %s)" 
val = [
  ('E123','Mahi Dhoni ', '90000'),
  ('E124','Inaya Dhillon ', '60000'),
    ('E125','Virat Kholi', '70000'),
    ('E121','Shanti Kapoor ', '80000'),
    ('E122','Padmini Sharma ', '10000'),
    ('E126','Priyanka Chopra ', '20000'),
    ('E127','Akshay Kumar ', '30000'),
    ('E128','Virat Kapoor ', '40000'),
    ('E129','Varsha Gaikwar ', '50000'),
    ('E120','Neha Joshi ', '60000'),
    ('E130','Alice Merry ', '70000'),
    ('E131','Rishita Pandya ', '25000'),
    ('E132','Malini Sahu ', '35000'),
    ('E134','Archi Yadav ', '45000'),
    ('E135','Rajesh Ganguly ', '55000')]

db_cursor.executemany(employee_sql_query, val)

db_connection.commit()
print(db_cursor.rowcount, "Record Inserted")
#Get database table
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
	print(table)

15 Record Inserted
('employee',)

#a] Write a query to get the maximum and minimum salary from employees table

In [8]:
import mysql.connector
db_connection = mysql.connector.connect(
  host= "localhost",
  user= "root",
  passwd= "Sqlpython123#",
  database="employee"
  )
db_cursor = db_connection.cursor()
db_cursor.execute("SELECT MAX(salary), MIN(salary) FROM employee ")
myresult=db_cursor.fetchall()
for x in myresult:
    print(x)

(90000, 10000)

#b] Write a query to get the number of employees working with the company

In [9]:
import mysql.connector
db_connection = mysql.connector.connect(
  host= "localhost",
  user= "root",
  passwd= "Sqlpython123#",
  database="employee"
  )
db_cursor = db_connection.cursor()
db_cursor.execute("SELECT COUNT(*) FROM employee ")
myresult=db_cursor.fetchall()
for x in myresult:
    print(x)

(15,)

#c] Write a query to get the first 3 characters of first name from employees table

In [10]:
import mysql.connector
db_connection = mysql.connector.connect(
  host= "localhost",
  user= "root",
  passwd= "Sqlpython123#",
  database="employee"
  )
db_cursor = db_connection.cursor()
db_cursor.execute("SELECT SUBSTRING(name,1,3) FROM employee")
myresult=db_cursor.fetchall()
for x in myresult:
    print(x)

('Mah',)
('Ina',)
('Vir',)
('Sha',)
('Pad',)
('Pri',)
('Aks',)
('Vir',)
('Var',)
('Neh',)
('Ali',)
('Ris',)
('Mal',)
('Arc',)
('Raj',)